.background-image {
  position: relative;
  height: 70vh;
}
.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.texto-sobre-imagem {
  position: absolute;
  top: 50%;
  color: black;
  text-shadow: 0 2px 5px black;
  color: white;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.links-hero {
  flex-wrap: wrap;
  margin-top: 20px;
}
